<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.apple.keyboardlayout.dvfr</string>
	<key>CFBundleName</key>
	<string>DvFr</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>KLInfo_DvFr</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>com.apple.keyboardlayout.dvfr.dvfr</string>
		<key>TISIntendedLanguage</key>
		<string>fr</string>
	</dict>
</dict>
</plist>
